<div style="padding: 20px;margin-left:200px;border:true">
  <h1 style="color: blue"> Astra Zeneca Parcel Tracking System </h1>
  <br>
  <nav>
      
    <a  routerLink="listparcel" class="btn btn-primary active" role="button" routerLinkActive="active">
      <span style="padding: 20px;">Home</span></a>
    
    <a routerLink="add" class="btn btn-primary active" role="button" routerLinkActive="active">
        <span style="padding: 20px;">Add a Parcel</span></a>
  
    <a routerLink="find" class="btn btn-primary active" role="button" routerLinkActive="active">
        <span style="padding: 20px;">Search by Name</span></a>
    
    <a routerLink="status" class="btn btn-primary active" role="button" routerLinkActive="active">
        <span style="padding: 20px;">Parcel Status</span></a>
  </nav>
  <router-outlet></router-outlet>
</div>